apiVersion: v1
kind: Config
clusters:
  - name: {{ cluster_name }}
    cluster:
      certificate-authority-data: {{ lookup('file', cert_dir + '/kubernetes-ca.pem') | b64encode }}
      server: {{ kc_server }}
contexts:
  - name: default
    context:
      cluster: {{ cluster_name }}
      user: {{ kc_name }}
current-context: default
users:
  - name: {{ kc_name }}
    user:
      client-certificate-data: {{ lookup('file', cert_dir + '/' + kc_cert_prefix + '.pem') | b64encode }}
      client-key-data: {{ lookup('file', cert_dir + '/' + kc_cert_prefix + '-key.pem') | b64encode }}
