[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/kubernetes/kubernetes
After=network.target

[Service]
ExecStart={{ install_dir }}/kube-scheduler \
  --config={{ kube_config_dir }}/kube-scheduler-config.yml \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
