apiVersion: v1
kind: Config
clusters:
  - name: {{ cluster_name }}
    cluster:
      certificate-authority-data: {{ lookup('file', cert_dir + '/kubernetes-ca.pem') | b64encode }}
      server: https://{{ apiserver_internal_address }}:6443
contexts:
  - name: bootstrap
    context:
      cluster: {{ cluster_name }}
      user: kubelet-bootstrap
current-context: bootstrap
users:
  - name: kubelet-bootstrap
    user:
      token: {{ token_id_result.stdout }}.{{ token_secret_result.stdout }}
